.nav-bar {
  border-radius: 15px;
  text-align: center;
  padding: 0.9rem 1em;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  position: fixed;
  bottom: 12px;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  /* flex-direction: column; */
}
.nav-bar li p {
  font-size: 0.7rem;
  padding: 0;
  margin: 0;
}
.active {
  color: rgb(84, 84, 236);
}
.main-nav,
.nav-bar {
  display: flex;
  align-items: center;
}
.nav-bar {
  justify-content: space-between;
}
.main-nav {
  justify-content: center;
}
@media screen and (min-width: 520px) {
  .nav-bar {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .main-nav {
    display: block;
    /* justify-content: space-between; */
  }
  .large-nav-bar {
    float: left;
    height: 100vh;
    width: 25%;
    margin: 1.5rem auto;

    padding: 0;
    flex-direction: column;
    justify-content: start;
    align-self: start;
  }
  .large-nav-bar li {
    margin-bottom: 2rem;
  }
  .large-nav-bar ul :first-child {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .large-nav-bar {
    float: left;

    width: 20%;
  }
}
